%color-white, .color-white {
	color: c();
}

%color-black, .color-black {
	color: c(black);
}

%color-green-dark, .color-green-dark {
	color: c(green-dark);
}

%color-green-light, .color-green-light {
	color: c(green-light);
}

%color-purple, .color-purple {
	color: c(purple);
}

%color-purple-dark, .color-purple-dark {
	color: c(purple-dark);
}

%color-beige-dark, .color-beige-dark {
	color: c(beige-dark);
}

%color-beige, .color-beige {
	color: c(beige);
}

%color-orange-dark, .color-orange-dark {
	color: c(orange-dark);
}

%color-orange-light, .color-orange-light {
	color: c(orange-light);
}

%color-golden, .color-golden {
	color: c(golden);
}

%color-brown-dark, .color-brown-dark {
	color: c(brown-dark);
}

%color-blue, .color-blue {
	color: c(blue);
}

%color-red-dark, .color-red-dark {
	color: c(red-dark);
}
